
   <div class="navbar-fixed">
      <nav class="nav-wrapper blue lighten-3 z-depth-2" style="height:150px !important"> 
          <div class="container main-font">
            
              <a href="" data-target="mobile-menu" class="sidenav-trigger">
                  <i class="material-icons">menu</i>
              </a>
              <img id="navlogo" src="/assets/images/navlogo.png" style="float:left; top:0; left:0; !important"/>
              <ul class="right hide-on-med-and-down" >
                 
                  <li>Welcome,  {{user.username}}</li>
                  <li><a href="/createtasks">Create Tasks</a></li>
                  <li><a href="/">Kids Corner</a></li>
                  <li><a href="/logout">Log Out</a></li>
              </ul>
              <ul class="sidenav" id="mobile-menu">
                    <li><img src="/assets/images/navlogo.png" style="width:100%; height:auto; left:0px; top:0px; background:lightskyblue; !important"/></li>
                  <li>Welcome,  {{user.username}}</li>
                  <li><a href="/createtasks">Create Tasks</a></li>
                  <li><a href="/">Kids Corner</a></li>
                  <li><a href="/logout">Log Out</a></li>
              </ul>
          </div>
      </nav>
    </div>
    <br><br><br>
  